$font-size: 16;

// Sprite mappers
$sprite: sprite-map("sprite/standard/*.png", $layout: "smart");
$sprite-hd: sprite-map("sprite/hd/*.png", $layout: "smart");

$hd: "print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)";

$center-width: 980px;
$margin-ceils: 20px;
